.ModalEvents{
    display: block;
}

.btn-primary.event {
    margin-top: 20px;
    margin-left: 0px !important;
    font-weight: 600;
    padding: 10px 25px;
    font-size: 14px;
}

.btn-primary {
    border-radius: 4px !important;
    padding: 10px 15px !important;
    border: none !important
}

.btn-primary:hover {
    background: #157FFB !important;
    border: none !important
}

div#event-form {
    padding: 10px;
}

.Modal-ads .css-yk16xz-control {
    display: table;
}