.AdCard{
}

span a img svg {
    fill: tomato !important;
    opacity: 0;
}


.title_add{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none !important;
    color: rgb(71, 61, 61);
  }

  .title_add:hover{
    color: rebeccapurple;
  }
  
  .margin_botton_15{
    margin-bottom: 15px;
  }

  span.gray {
    color: #777;
    font-weight: 400;
  }
  
  .card.card-body {
    border: none;
    border-radius: 3px !important;
    transition: all ease-in-out 0.6s;
  }

  .card.card-body:hover {
    box-shadow: 0px 2px 1px -12px #666;
  }
  
  .images-icons {
    display: flex;
    justify-content: flex-end;
  }

  .images-icons a.pause-bg {
    background: rgb(119, 119, 134);
    border-radius: 50%;
    padding: 4px 7px;
  }

  .images-icons a.trash-bg {
    background: #FD565A;
    border-radius: 50%;
    padding: 4px 7px;
  }

  a img.pause-btn {
    width: 18px;
    height: 18px;
    margin-bottom: 2px;
  }

  a img.trash-btn {
    width: 18px;
    height: 18px;
    margin-bottom: 2px;
  }

  a.text-primary {
    text-decoration: none !important;
  }
