.AdCard{
  display: block;
}

span a img svg {
    fill: tomato !important;
    opacity: 0;
}

span.title-company {
  color: #4C5161;
  font-weight: 600;
}

a.title_add{
    margin-left: 0px !important;
    font-size: 16px;
    text-decoration: none !important;
    color: #fff;
  }

  .title_add_event,.title_add_event:hover {
    margin-left: 0px !important;
    font-size: 15px;
    text-decoration: none !important;
    color: #2183F8;
    text-transform: uppercase;
    font-weight: bolder;
  }

  .title-anuncio {
    margin-left: 0px !important;
  }

  button.btn-no-assist i.fa-calendar-times {
    color: #4C5161 !important; 
  }
  
  button.btn-assist {
    color: #fff !important;
    background: #2183F8;
    padding: 7px 10px;
    border-radius: 4px;
    position: relative;
}

.card-body {
  border-top: none !important;
}

  .title_add:hover{
    color: #2183F8 !important;
  }
  
  a.title-anuncio:hover {
    color: #2183F8 !important;
    text-decoration: none;
  }

  i.fa-trash-alt {
    color: #157FFB!important;
  }

  .margin_botton_15{
    margin-bottom: 15px;
  }

  span.gray {
    color: #777;
    font-weight: 400;
  }
  
  .card.all-card {
    border-radius: 10px !important;
    transition: all ease-in-out 0.6s;
  }

  .card.all-card:hover {
    box-shadow: 0 4px 10px 0 rgba(126, 123, 123, 0.14), 0 7px 2px -5px rgba(255, 255, 255, 1);
    transform: translate3d(0,3px,0);
  }

  .card.all-card:hover  .card-header {
    background: #EEF5FF !important;
    transition: 0.5s;
  }

  .card-header {
    border: none !important;
    width: 100%;
    background-color: #fff !important;
    text-align: center;
  }

  .card.pauses-play .card-header{
    border: none !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background: #2982ED !important;
  }
  
  .images-icons {
    display: flex;
    justify-content: flex-end;
  }

  .images-icons a.pause-bg i{
    color: #4C5261 !important;
    font-size: 27px;
  }

  strong.bold {
    color: #777 !important;
  }

  .start-info {
    display: flex;
    justify-content: center;
  }

  .images-icons a.trash-bg i{
    color: #4C5261 !important;
    font-size: 24px;
  }

  a img.pause-btn {
    width: 18px;
    height: 18px;
    margin-bottom: 2px;
  }

  .images-icons .edit-icon i{
    color: #4C5161 !important;
  }

  a img.trash-btn {
    width: 18px;
    height: 18px;
    margin-bottom: 2px;
  }

  a.text-primary {
    text-decoration: none !important;
  }

  .card.pauses-play:hover {
    transition: all ease 0.5s;
  }

  .card.pauses-play {
    transition: all ease 0.5s;
    border: 2px solid #E4E3EA !important;
    border-radius: 10px;
  }
