.EventDetailPage{
    display: block;
}
.container-detail .btn-assist i.fa-hands-helping {
    color: #22CCCC !important;
    background: #E5FBF8;
    font-size: 20px;
    padding: 16px 15px;
    border-radius: 50%;
}

.card-body i.fa-marker {
    color: #22CCCC !important;
    background: #E5FBF8;
    font-size: 20px;
    padding: 16px 15px;
    border-radius: 50%;
    position: relative;
    top: -14px
}

.events-scroll {
    overflow-y:  auto !important;
    height: 100vh !important;
}

.container-detail button {
    outline: none;
}

.container-events {
    width: 88% !important;
}