.EventDetailPage{
    display: block;
}
.container-detail .btn-assist i.fa-hands-helping {
    color: #22CCCC !important;
    background: #E5FBF8;
    font-size: 20px;
    padding: 16px 15px;
    border-radius: 50%;
}
.tag_aux:hover{
    color: #22CCCC !important;
}
.margin-top-25{
    margin-top: 25px;
}

.card-body i.fa-marker {
    color: #22CCCC !important;
    background: #E5FBF8;
    font-size: 20px;
    padding: 16px 15px;
    border-radius: 50%;
    position: relative;
    top: -14px
}
.foto-evento img{
    border-radius: 3px;
    position: relative;
    margin-right: 30px;
    width: 100%;
    height: 500px;
}

.header-detail-anuncio {
}

.link-descarga {

}
.link-descarga button{
    border: none;
    color: blue;
    text-decoration: underline;
}

.container-detail button {
    outline: none;
}

.container-detail {
    display: block;
    width: 100%;
    justify-content: space-between;
}

p.gray.text-justify {
    color: #777 !important;
}

.events-detail-container {  

}

.header-anuncios-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-events {
    width: 88% !important;
}

.container-events-info {
    display: flex;
}

.events-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

@media screen and (max-width: 1440px){
}

@media screen and (max-width: 768px){
    .container-events {
        display: block !important;
    }
    .foto-evento img{
        height: 400px;
        /* display: none; */
    }
    .events-container {
        display: block;
        margin-left: 0px;
    }
    .container-events-info {
        display: block;
    }
}