.background-login {
  background-size: cover;
  width: 100%;
  height: auto;
}

.background-login .modal-dialog {
  margin-top: 100px;
  max-width: auto;
}

.background-login .modal-dialog .modal-content {
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 20px 0 rgba(131, 118, 118, 0.14), 0 7px 10px -5px rgba(94, 40, 189, 0.4);
          box-shadow: 0 4px 20px 0 rgba(131, 118, 118, 0.14), 0 7px 10px -5px rgba(94, 40, 189, 0.4);
}

.background-login .modal-dialog .modal-content .welcome-ex {
  text-align: center;
}

.background-login .modal-dialog .modal-content .welcome-ex span {
  font-family: 'Ubuntu';
  text-transform: uppercase;
}

.background-login .modal-dialog .modal-content .welcome-ex h2 {
  font-family: 'Ubuntu';
  font-size: 30px;
}

.background-login .modal-dialog .modal-content .welcome-ex p {
  font-family: 'Ubuntu';
  color: #8f8a8a;
  font-weight: 100;
}

.background-login .modal-dialog .modal-content .welcome-ex .div-margin-30px {
  margin: 30px;
}

.background-login .modal-dialog .modal-content .welcome-ex .error-message {
  color: #c81313;
  background-color: #FF9DA2;
  padding: 19px 5% 2px;
  border-radius: 5px;
}

.background-login .modal-dialog .modal-content .welcome-ex .exito-message {
  color: #13c837;
  background-color: #c8ffbc;
  padding: 19px 5% 2px;
  border-radius: 5px;
}

.background-login .modal-dialog .modal-content .welcome-ex .error-message-aux {
  color: #c81313;
  padding-left: 15px;
  margin-bottom: 30px;
}

.bg-register {
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

form {
  padding: 20px 50px;
}

form input {
  width: 100%;
  padding: 20px;
  border-radius: 26px;
  border: none;
  font-family: 'Ubuntu' !important;
  font-size: 14px !important;
  font-weight: 200;
  outline: none;
  background: #F8F8FA 0% 0% no-repeat padding-box;
  margin: 5px;
}

form.form-signin input {
  width: 100%;
  padding: 20px;
  border-radius: 26px;
  border: none;
  font-family: 'Ubuntu' !important;
  font-size: 14px !important;
  font-weight: 200;
  outline: none;
  background: #F8F8FA 0% 0% no-repeat padding-box;
  margin: 0px !important;
}

form.form-signin .error-message-aux {
  color: #c81313;
  padding-left: 15px;
}

.none {
  display: none !important;
}

.forget-password {
  text-align: center;
  color: #3369FD;
}

.forget-password a {
  text-decoration: none !important;
}

.forget-password a p {
  font-size: 14px;
}

.forget-password a:hover {
  color: #3369FD;
}

.send-submit {
  text-align: center;
  margin: 0px auto;
  width: 100%;
}

.send-submit button.submit-signin {
  margin-left: 0px;
  width: 100%;
  padding: 20px;
  background: #3369FD;
  /* fallback for old browsers */
  border-radius: 26px;
  border: none;
  color: #fff;
  outline: none;
  font-family: 'Ubuntu' !important;
  font-size: 15px;
  font-weight: 100;
  text-transform: capitalize;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(44, 9, 105, 0.4);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(44, 9, 105, 0.4);
}

.send-submit button.submit-signup {
  margin-left: 10px;
  margin-top: 10px;
  width: 90%;
  padding: 20px;
  background: #3369FD;
  /* fallback for old browsers */
  border-radius: 26px;
  border: none;
  color: #fff;
  outline: none;
  font-family: 'Ubuntu' !important;
  font-size: 15px;
  font-weight: 100;
  text-transform: capitalize;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(44, 9, 105, 0.4);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(44, 9, 105, 0.4);
}

.border-space {
  width: 80%;
  margin: 0 auto;
}

.border-space .to {
  text-align: center;
  font-family: 'Ubuntu' !important;
  color: #afacac;
}

.socials {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.socials .kep-login-facebook {
  padding: 10px 15px;
  border-radius: 50% !important;
  font-family: 'Ubuntu';
  font-weight: 400;
  text-transform: capitalize;
}

.socials .fab {
  color: #FFF;
  border: none;
  background: #3369FD;
  font-size: 24px;
  padding: 15px 22px !important;
  border-radius: 50%;
  margin-right: 40px;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(44, 9, 105, 0.4);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(44, 9, 105, 0.4);
}

.socials button {
  background: #3369FD !important;
  padding: 0px !important;
  border-radius: 50% !important;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(44, 9, 105, 0.4) !important;
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(44, 9, 105, 0.4) !important;
}

.socials button div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 18px;
  padding: 0px !important;
  background: #3369FD !important;
}

.socials button div svg {
  background: #3369FD;
}

.socials button div svg g path:nth-last-child(n+2) {
  fill: #fff;
}

@media screen and (max-width: 768px) {
  form {
    padding: 20px 30px !important;
  }
  form input {
    border-radius: 17px !important;
    padding: 15px !important;
  }
}
/*# sourceMappingURL=style.css.map */