.AddsList{
  display: block;
}
ul li.nav-item a.active:before {
    background: none !important;
}
div.Ads{
  height: calc(100vh);
  overflow-y: auto;
}

.card-header img {
  min-width: 100%;
  height: 300px;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
}

.events-padding {
  padding-right: 0px !important;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-header a {
  color: #fff;
}

.events-flex {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
}

.flex-footer-event {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #777;
}

.events-flex .reminder-information {
  margin-right: 0px !important;
}

@media screen and (max-width: 600){

}