.AddsList{
  display: block;
}
ul li.nav-item a.active:before {
    background: none !important;
}
div.Ads{
  height: calc(100vh);
  overflow-y: auto;
}

.card-header img {
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.events-padding {
  padding-right: 0px !important;
}

.events-flex {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
}

@media screen and (max-width: 600){

}