.EventsList{
    display: block;
}
div#events-list{
    margin-top: 20px;
  }

.no-events {
    font-family: 'Proxima Nova';
    color: #777;
}

.events-list {
    display: flex ;
    flex-wrap: wrap;
}

.card-header.events {
    background: #2183F8 !important;
}

.img-events img {
    width: 30px !important;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.reminder-information.events {
    margin-right: 0px !important;
}