.EventsList{
    display: block;
}
div#events-list{
    margin-top: 20px;
  }

.no-events {
    font-family: 'Proxima Nova';
    color: #777;
}

.events-list {
    display: flex ;
    flex-wrap: wrap;
}