.AddAds{
    display: block;
}
.Ads-plus{
    font-family: 'Proxima Nova' !important;
    position: absolute;
    top: -4px;
    right: 0px;
    border-radius: 4px;
    color: #4C5161;
    font-size: 16px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
}

.add-proyect-container.container-options {
    padding: 0px !important;
}

.Ads-plus i{
    color: #4157F2 !important;
    background: #EEF5FF;
    font-size: 20px;
    padding: 15px 17px;
    border-radius: 50%;
}

.Ads-plus-proyect i{
    color: #4157F2 !important;
    background: #EEF5FF;
    font-size: 20px;
    padding: 15px 17px;
    border-radius: 50%;
}

.container-options {
    background: #fff;
    padding-left: 0px !important;
    padding: 13px;
    margin-left: 0px !important;
    border-radius: 10px;
    border: 2px solid #E9EAED !important;
}

.list-group-item:first-child {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.list-group-item {
    font-family: 'Proxima Nova';
}

.scroll-anuncios {
    overflow-y: auto;
    height: calc(100vh - 220px);
}