.Cherry{
    position: fixed;
    right: 0;
    bottom: 8px;
    z-index: 5000;
}

/* Display the modal when targeted */
.Chiko__{
  cursor: pointer;
}
.message {
    opacity: 1;
    transition: all ease 0.6s;
    overflow: auto;
}
  
/* The modal box */
.modal-message {
  position: absolute;
  z-index: 9999;
  right: 50px;
  bottom: 100px;
}
  
  /* The modal's content */
  .modal-message .message-content {
    background-color: transparent;
    border: none;
    bottom: 40px;
    padding: 0;
    width: 300px;
    box-shadow: none !important;
    display: block;
    /* Add animation */
    -webkit-animation-name: example !important; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s !important; /* Chrome, Safari, Opera */
    animation-name: example !important;
    animation-duration: 0.5s !important;
  }
  
  /* The button used to close the modal */
  .closecherry {
     padding: 8px;
     text-align: center;
     background: #fff;
     padding-bottom: 20px;
     border-bottom-right-radius: 4px;
     border-bottom-left-radius: 4px;
  }
  
  a.closebtn {
    background: #376EF9;
    padding: 10px 32%;
    color: #fff;
    font-family: 'Proxima Nova';
    text-decoration: none !important;
    border-radius: 4px;
    font-size: 16px;
  }

  a.closebtn:hover {
      color: #fff;
  }
  
  .container-message {
    text-align: center;
    padding: 10px 16px;
    font-size: 16px;
    color: #777777;
    background: #fff;
    font-family: 'Proxima Nova';
  }
  
  header {
    background-color: #376EF9 !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1200px) {
  .Cherry {
    position: fixed;
  }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 780px) {
  .Tree svg{
    width: 280px;
    position: relative;
    top: 120px;
    left: 30px;
  }
  .events-fluid {
    margin-left: 0px !important;
  }
}