.stages {
    position: relative;
}

.scroll-stage {
    overflow-y: scroll;
}

.title-proyect {
    margin-left: 50px;
}

.container-stage {
    float: right;
    justify-content: flex-end;
    position: relative; 
    margin-top: 30px;
    height: 550px; 
}

.etapas {
    overflow-y: auto;
    height: calc(100vh - 400px);
}

.stages-imgs {
    position: relative !important;
    right: 80px;
    top: -50px;
    height: 77px;
}

.impar {
    position: relative;
    z-index: 1000;
    cursor: pointer;
    margin-left: 100px;
}

.par {
    position: relative;
    top: -10px;
    right: -20px;
}

.par img {
    width: 100px;
}

.impar {
    transform: rotate(90deg);
    top: -12px;
    right: 10px
}

.impar img {
    width: 100px;
}

.icon-par img, .icon-impar img {
    width: 40px;
}

.icon-par {
    position: relative;
    z-index: 4000;
    top: 55px;
    right: -45px;
}

.icon-impar {
    position: relative;
    z-index: 4000;
    top: 50px;
    right: -125px;
    width: 50%;
}

@media screen and (max-width: 1440px) {
    .container-stage {
        margin-top: 10px;
    }
    .img0 {
        right: 165px
    }
    
    .img1 {
        right: 75px
    }
    
    .img2{
        right: 165px
    }
    
    .img3 {
        right: 75px;
    }
    
    .img4 {
        right: 165px
    }
    
    .icon0 {
        right: 225px;
    }
    
    .icon1 {
        right: 115px;
    }
    
    .icon2 {
        right: 225px;
    }
    
    .icon3 {
        right: 115px;
    }
    
    .icon4 {
        right: 305px;
    }
}

.stages-challenges {

}


@media screen and (max-width: 1200px) {
    .stages-challenges {
        display: block;
        flex-direction: column-reverse;
    }
    .container-stage {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .container-stage {
        margin-top: 10px;
    }
    .img0 {
        right: 405px
    }
    
    .img1 {
        right: 305px
    }
    
    .img2{
        right: 405px
    }
    
    .img3 {
        right: 305px;
    }
    
    .img4 {
        right: 405px
    }
    
    .icon0 {
        right: 465px;
    }
    
    .icon1 {
        right: 345px;
    }
    
    .icon2 {
        right: 465px;
    }
    
    .icon3 {
        right: 345px;
    }
    
    .icon4 {
        right: 305px;
    }
}

@media screen and (max-width: 768px) {
    .img0 {
        right: 155px
    }
    
    .img1 {
        right: 65px
    }
    
    .img2{
        right: 155px
    }
    
    .img3 {
        right: 65px
    }
    
    .img4 {
        right: 405px
    }
    
    .icon0 {
        right: 215px;
    }
    
    .icon1 {
        right: 110px;
    }
    
    .icon2 {
        right: 215px;
    }
    
    .icon3 {
        right: 110px;
    }
    
    .icon4 {
        right: 305px;
    }
    .title-proyect {
        margin-left: 10px;
    }
    
    .container-chellenges {
        margin-top: 20px !important;
        padding: 0px !important;
        background: none !important;
        box-shadow: none !important;
        width: 100% !important;
    }
    .events-fluid {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .Ads-plus {
        float: none !important;
    }
    .challenges {
        margin-top: 100px !important;
        margin-left: 0px !important;
    }
  }


@media screen and (max-width: 420px) {
    .container-stage {
        margin-top: -25px;
    }
    .img0 {
        right: 115px
    }
    
    .img1 {
        right: 25px
    }
    
    .img2{
        right: 115px
    }
    
    .img3 {
        right: 25px
    }
    
    .img4 {
        right: 405px
    }
    
    .icon0 {
        right: 175px;
    }
    
    .icon1 {
        right: 70px;
    }
    
    .icon2 {
        right: 175px;
    }
    
    .icon3 {
        right: 70px;
    }
    
    .icon4 {
        right: 305px;
    }
  }