.Diary {
    margin-top: 23px !important;
    background: #FFFFFF;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 20px;
    height: calc(100vh - 120px);
    overflow-y: auto
  }

  .content-diary {

  }