.content-diary{
    border-radius: 4px;
    height: calc(100vh - 77px);
    overflow-y: auto;
    background: #E9EDF2 !important;  /* fallback for old browsers */
    padding-right: 30px !important;
  }

  .Diary {
  }

