.Events{
    display: block;
}

.events-list {
    padding-left: 15px !important;
}

.events-fluid {
}

.events-scroll {
    overflow-y: auto !important;
    height: calc(100vh - 120px);
    border-radius: 10px;
}

.adds-scroll {
    overflow-y: auto !important;
    height: calc(100vh - 120px);
    border-radius: 10px;
}

.pills-event {
    padding-left: 30px !important;
}

.plus-padding {
    padding-right: 45px !important;
}