.Events{
    display: block;
}

.events-list {
    
}

.bg-whites {
    height: calc(100vh - 120px) !important;
    border-radius: 10px;
}

.adds-scroll {
    height: calc(100vh - 120px) !important;
    overflow-y: auto !important;
    border-radius: 10px;
}

.nav-link-person {
    background: #FEF6FB;
    border-radius: 20px;
    color: #FD42A6  
}

.lista-eventos {
    margin-top: 30px;
}

.nav-link-person:hover {
    color: #FD42A6  
}

a.nav-link-morado, a.nav-link-yellow, a.nav-link {
    color: #4C5161;
}

a.nav-link-morado:hover, a.nav-link-yellow:hover {
    color: #FD42A6;  
}

a.nav-link-morado:focus, a.nav-link-yellow:focus, a.nav-link:focus {
    color: #FD42A6;  
}

@media screen and (max-width: 1200px) {
    .container-fluid .events-none {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .Ads-plus.events {
        top: -48px !important;
    }
}