.TabAnuncio{
    font-family: 'Proxima Nova' !important;
}

.card {
    font-family: 'Proxima Nova' !important;
}

.nav-link-curse {
    background: #EEF5FF;
    border-radius: 20px;
    color: #157FFB  
}

.nav-link-curse.active svg {
    stroke : #157FFB  
}

.absolute-help {
    position: absolute;
    right: 50px;
    top: -3px;
}

.nav-link-curses.active svg{
   color: #4C5161 !important  
}

.nav-link-anuncio {
    background: #EEF5FF !important;
    border-radius: 20px !important;
    color: #157FFB !important 
}   

.nav-link-anuncio:active i{
    background: #EEF5FF !important;
    border-radius: 20px !important;
    color: #157FFB !important 
}   

.nav-link-anuncio:hover {
    color: #157FFB !important  
}
