.Reminders{
    display: block;
}
.reminders {
    color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: 'Proxima Nova' !important;
}

.space-reminder {
    margin-bottom: 100px;
}

.appointments h4{
    color: #5a5353;
    margin-bottom: 10px;
    font-weight: 300;
}

.header-reminder {
    background: #FF416C;  /* fallback for old browsers */    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 12px;
    padding-left: 18px;
    padding-right: 18px;
    color: #fff;
}

nav.choose-calendar {
    top: 0px;
    border: 2px solid #E9EAED;
    left: 0px;
    background: #fff;
    padding: 10px;
    width: 96%;
    border-radius: 10px;
}

.choose-calendar i.fa-handshake{
    color: #fff;
    font-size: 20px;
    margin-left: 0px;
    border-radius: 50%;
    background: #2FDAA7;
    padding: 15px 13px;
}
.choose-calendar i.fa-bell {
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    background: #FD456F;
    padding: 15px 17px;
}

.choose-calendar.recordatorio i {
    margin-right: 20px;
    margin-left: 10px;
}

.no-reunion svg {
    width: 50px;
}

.choose-calendar.reuniones svg {
    min-width: 55px;
    position: relative;
    left: 2px;
    margin-left: 5px !important;
}

.choose-calendar i.fa-calendar-plus {
    color: #fff;
    font-size: 20px;
    margin-right: 20px;
    border-radius: 50%;
    background: #4F78E8;
    padding: 15px 17px;
}

.choose-calendar i.fa-play-circle {
    color: #2183F8;
    font-size: 20px;
    margin-right: 20px;
    border-radius: 50%;
    background: #EEF5FF;
    padding: 15px 17px;
}

.choose-calendar i.fa-pause-circle {
    color: #2183F8;
    font-size: 20px;
    margin-right: 20px;
    border-radius: 50%;
    background: #EEF5FF;
    padding: 15px 17px;
}

.choose-calendar i.fa-calendar-day {
    color: #435DEE;
    font-size: 20px;
    margin-right: 20px;
    border-radius: 50%;
    background: #EEF5FF;
    padding: 15px 17px;
}

.choose-calendar i.fa-plus {
    color: #435DEE;
    font-size: 20px;
    margin-right: 20px;
    border-radius: 50%;
    background: #EEF5FF;
    padding: 15px 17px;
}

.choose-calendar i.fa-calendar-check {
    color: #435DEE;
    font-size: 20px;
    margin-right: 20px;
    border-radius: 50%;
    background: #EEF5FF;
    padding: 15px 17px;
}

.choose-calendar svg {
    min-width: 30px;
    min-height: 30px;
    margin-left: 12px;
    margin-right: 20px;
}

.choose-calendar svg.padding-zero {
    margin-left: 9px !important;
}

.card.reminder-information .choose-calendar i.fa-handshake {
    margin-right: 20px;
}

.container-not-appointment {
    text-align: center;
    padding: 20px;
}

.container-not-appointment h3 {
    color: #4C5161 !important;
    font-size: 20px;
    margin-bottom: 20px;
}

div.ocultar {
    display: none;
}

.choose-calendar a{
    color: #fff;
    font-family: 'Proxima Nova';
}

.choose-calendar a:hover{
    color: #fff;
    text-decoration: none;
}

.icon-edit i {
    color: #fff;
}

a#menos {
    display: none;
}

.recordatorio-reu {
    color: #5a5353;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 10px;
    font-family: 'Proxima Nova';
}

.body-reminder {
    padding-top: 12px;
    padding-left: 18px;
    padding-right: 18px;
    border-top: none;
    background: #fff;
    color: #777B8E;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header-meeting {
    background: #1BDBA6;  /* fallback for old browsers */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 12px;
    padding-left: 18px;
    padding-right: 18px;
}

.description-meet {
    position: relative;
    /* height: 62px !important; */
}

.reminder-description {
    height: 62px !important;
}
/* 
.description-size {
    text-overflow: ellipsis;
    overflow: hidden;
} */
.btn-hide {
    border-radius: 1.5em;
    left: 20%;
    text-decoration: none;
    width: 60%;
  }

  .description-text{
    width: 100%;
    text-align: justify;
}
a {
	color: #0254EB
}

label a:hover {
    text-decoration: none !important;
    color: #4F78E8 !important;
}

a.morelink:hover {
	text-decoration:none;
    outline: none;
    color: #32b4d4;
}

a.morelink {
	color: #777;
}
.morecontent span {
	display: none;
}
.description-size{
    position: relative;
    width: 100%;
    max-height: 50px;
    overflow: hidden;
}
.body-meeting {
    padding-top: 12px;
    padding-left: 18px;
    padding-right: 18px;
    background: #fff;
    color: #777B8E;
}

.body-meeting {
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}

.see-more {
    text-align: center;
}

.img-reminder img {
    width: 45px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

img.event-img {
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 35px !important;
}

.container-not-reminder {
    position: absolute;
    right: 20px;
    top: 40%;
    text-align: center;
    display: block;
}

.container-not-reminder h3{
    font-size: 20px;
    font-family: 'Proxima Nova';
    color: #4C5161;
}

.card.reminder-information {
    margin-right: 19px !important;
    margin-left: 15px !important;
    border: 2px solid #E9EAED !important;
}

.card.reminder-information .card-header {
    border: none !important;
    border-radius: 0px !important;
    padding: 15px !important;
    background: #2183F8;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
    border-bottom: 2px solid #E9EAED !important;
}

.card.reminder-information .card-header h3 {
    color: #fff;
    font-size: 23px;
    margin-left: 3px;
}

.card.reminder-information .card-body {
    padding: 25px 10px !important;
    border-bottom: 2px solid #E9EAED !important;
}

.card.reminder-information .info-help-reminder {
    color: #777;
}

.card.reminder-information .choose-calendar i {
    height: 50px;
}

.d-reminder-info {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.d-reminder-info.help i {
    font-size: 25px; 
    margin-left: 10px;
    margin-right: 15px;
    color: #777 !important;
}

@media screen and (max-width: 1200px) {
    .img-startup-help img {
        width: 100%;
        height: auto;
    }
}