.Reminders{
    display: block;
}

.reminders {
    color: #fff;
    border-radius: 10px;
    font-family: 'Proxima Nova' !important;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,.14), 0 1px 2px -2px rgba(141, 138, 138, 0.4);
}

.appointments h4{
    color: #5a5353;
    margin-bottom: 20px;
    font-weight: 300;
}

.header-reminder {
    background: #57D680 !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.icon-edit i {
    color: #fff;
}

a#menos {
    display: none;
}

.recordatorio-reu {
    color: #5a5353;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Proxima Nova';
}

.body-reminder {
    padding: 13px 20px 0px 20px;
    background: #fff;
    color: #777;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header-meeting {
    background: #59AAFA !important;  /* fallback for old browsers */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.description-meet {
    height: 62px !important;
}

.reminder-description {
    height: 62px !important;
}

.description-size {
    text-overflow: ellipsis;
    overflow: hidden;
}

.body-meeting {
    padding: 20px;
    background: #fff;
    color: #777;
}

.body-meeting {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}

.see-more {
    text-align: center;
}