.AddProyect{
    display: block;
}
.add-proyect-container{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.proyects-list{
    float: left;
    width: 70%;
    height: 80px;
    display: flex;
    overflow-x: auto;
    font-family: 'Work Sans' !important;
}
.add-proyect-aux{
    text-decoration: none !important;
    color: #3369fd;
    font-size: 17px;
    font-weight: bolder;
    position: absolute;
    bottom: 10px;
}

.add-proyect-aux a:hover {
    text-decoration: none !important;
    /* /* cursor: unset; */
    color: #3369fd;
    /* color: #fff;
    background-color: #3369fd; */
}
/* .add-proyect-aux .Ads-plusito span:hover {
    cursor: pointer;
    text-decoration: none !important;
    color: #fff;
    background-color: #3369fd;
    transition: all ease-in 0.4s;
} */

.add-proyect-aux .Ads-plusito span{
    /* padding: 0px 14px 4px 14px; */
    margin: 12px;
    /* background: #fff; */
    /* border-radius: 50%; */
    /* border: 1px solid #3369fd; */
    transition: all ease-out 0.4s;
}


.proyects-list-aux{
    float: left;
    width: 100%;
    height: 80px;
    display: flex;
    overflow-x: auto;
}
.projectblock{
    background-color: #fff;
    color: #3369fd;
    border: 1px solid #3369fd;
    border-radius: 10px;
    margin: 10px 10px 20px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    float: left;
    width: 20%;
    cursor: pointer;
    flex-shrink: 0;
    font-family: 'Work Sans' !important;
}

.projectblock>span, .projectblockSelected>span {
    display:inline-block;
    vertical-align:middle;
    line-height:normal;
    text-align: center;
    position: relative;
    top: 45%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.projectblockSelected{
    background-color: #3369fd;
    color: #fff;
    border: 1px solid #3369fd;
    border-radius: 10px;
    margin: 10px 10px 20px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    float: left;
    width: 20%;
    cursor: pointer;
    flex-shrink: 0;
    font-family: 'Work Sans' !important;
}

.add-proyect{
    padding-top: 20px;
    top: 100px;
    right: 60px;
    z-index: 10;
    display: flex;
    font-size: 27px;
    color: #3369fd;
    float: left;
}

.add-proyect a:hover {
    text-decoration: none !important;
    /* color: #3369fd; */
}

.add-proyect a {
    font-size: 22px;
}

.Ads-plusito {
    font-family: 'Work Sans' !important;
}

.Ads-plusito span{
    font-family: 'Work Sans' !important;
    padding: 10px 10px 10px 17px;
    margin: 12px;
    /* background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 3px 14px 34px -18px rgba(219,219,219,1);
    -moz-box-shadow: 3px 14px 34px -18px rgba(219,219,219,1);
    box-shadow: 3px 14px 34px -18px rgba(219,219,219,1); */
}

@media screen and (max-width: 1440px) {
    .add-proyect{
        top: 30px;
    }
}

@media screen and (max-width: 1200px) {
    .add-proyect{
        top: 30px;
        right: 90px;
        font-size: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .add-proyect{
        right: 10px;
        font-size: 25px;
    }
}

@media screen and (max-width: 420px) {
    .add-proyect{
        top: 20px;
        right: 75px;
        font-size: 20px;
    }
  }