.EmployeeCard{
    display: block;
}
.image-employee{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-size: cover; 
}
.price-employe{
    margin: 0px auto;
    width: 150px;
    border-color: blue;
}

.card-title {
    color: #656969 !important;
    font-weight: 800;
}

.card-text {
    color: #8E9297 !important;
    font-weight: 500;    
}

.like-button{
    position: relative;
    top: 15px;
    right: 20px;
    float: right;
}

/* .card.employees:hover {
    background: #6450FB !important;
    color: #fff !important;
} */
.card {
    
}

.card-footer {
    background: #396afc !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2948ff, #396afc) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2948ff, #396afc) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}