.EmployeeCard{
    display: block;
}
.image-employee{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-size: cover; 
}
.price-employe{
    margin: 0px auto;
    width: 150px;
    border-color: blue;
    border-style: dashed;
}
.like-button{
    position: relative;
    top: 15px;
    right: 20px;
    float: right;
}