.EmployeeCard{
    display: block;
}
.image-employee{
    border-radius: 50%;
    width: 120px;
    margin-top: 7px;
}
.price-employe{
    margin: 0px auto;
    width: 150px;
    border-color: blue;
    border-style: dashed;
}