.Calendar{
    display: block;
}

.container-fluid .calendar-none {
    display: none;
}

@media screen and (max-width: 1200px) {
    .container-fluid .calendar-none {
        display: block !important;
    }
}