.BackButton{
    display: block;
}

.atras-arrow i.fa-arrow-left {
    color: #4157F2 !important;
    background: #EEF5FF;
    font-size: 20px;
    padding: 15px 17px;
    border-radius: 50%;
}

.atras-arrow i.fa-marker {
    color: #fff !important;
    background: #5DD583;
    font-size: 20px;
    padding: 15px 17px;
    border-radius: 50%;
}

.atras-arrow i.fa-file-excel {
    color: #fff !important;
    background: #2AA368;
    font-size: 20px;
    padding: 15px 17px;
    border-radius: 50%;
}