.dashboard {
    position: relative;
    top: 0;
    flex: 1 1 auto;
    min-height: 100vh;
    max-width: 100%;
    position: relative;
}

.main-panel.traslate {
    padding: 88px 0px 0px 88px;
    transition: 0.3s;
}
.main-panel {
    padding: 88px 0px 0px 300px;
    transition: 0.3s;
    background: rgb(255, 255, 255);
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
}