.ModalPerfil{
    display: block;
}


.form_group_ label {
    width: 100%;
}

.perfils textarea {
    height: 150px !important;
    resize: none;
}

div.modal-header {
    background: #3369fd;
    color: #fff;
}

h5.modal-title {
    width: 100%;
    text-align: center !important;
    font-weight: bold;
    font-size: 20px;
}

input[type=checkbox].hourModalAds {
    position: absolute !important;
    left: -20px;
    z-index: 0;
    border: none;
    top: 10px;
}

div.text-hour {
    position: relative;
    left: 28px;
    z-index: 2;
    padding: 6px 6px;
    width: 80px;
    margin: 10px 12px 10px 0px;
    border-radius: 6px;
    color: rgb(49, 47, 47);
    font-size: 14px;
}

label {
    color: #777;
    font-weight: bold;
    font-size: 15px;
}

div.content-hour {
    display: flex !important;
    flex-wrap: wrap;
}

input[type=checkbox] {
         position: relative;
	       cursor: pointer;
    }
    input[type=checkbox]:before {
         content: "";
         display: block;
         position: absolute;
         width: 16px;
         height: 16px;
         top: 0px;
         left: 0;
         border: 1px solid #515351;
         border-radius: 3px;
         background-color: white;
}
    input[type=checkbox]:checked:after {
         content: "";
         display: block;
         width: 5px;
         height: 10px;
         border: solid rgb(27, 109, 233);
         border-width: 0 2px 2px 0;
         -webkit-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         transform: rotate(45deg);
         position: absolute;
         top: 2px;
         left: 6px;
}
