.AdDetailPage{
    display: block;
}

span.bold.detail {
    width: 120px;
    color: #4C5161;
    font-weight: 600;
}

span.bold {
    display: inline-block;
    width: 100%;
    color: #777;
}

h4.bold-title {
    color: #4C5161;
    font-size: 23px;
    font-weight: bold;
}

.form-group.border-anuncio {
    margin-bottom: 0px !important;
}

.scroll-anuncio {
    overflow-y: auto;
    height: calc(100vh - 20px) !important;
}

.button-back{
    width: 30px;
    position: absolute;
    left: 12px;
}

a.atras-arrow.go{
    position: absolute;
    top: -7px;
    left: -6px;
    z-index: 99000;
}

.container-detail-anuncio {
    padding: 20px 50px;
}

