.user-img {
    text-align: center;
    margin-top: 20px;
}

.img {
    border-radius: 50%;
    width: 100px;
}

.user-name {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-family: 'Work Sans';
}

.info-employee {
    margin-top: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.info-employee .info {
    margin-left: 10px;
    display: block;
    font-family: 'Work Sans';
}

.info-employee .info p{
    display: block;
    margin: 0px;
}

.info-employee .info span{
    font-weight: bold;
}

.info-employee .icon-employee img{
    width: 50px;
}

.user-start {
    margin-top: 10px;
    text-align: center;
}

.user-start img{
    width: 23px;
    margin-left: 10px;
}

.user-sale {
    margin-top: 30px;
    text-align: center;
}

.user-sale p{
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    border: 2px dashed #fff;
    font-family: 'Work Sans';
    border-radius: 6px;
}

.user-follower {
    text-align: center;
}

.user-follower p {
    padding: 8px;
    border-radius: 7px;
    background: #fff;
    color: #3369fd;
    font-family: 'Work Sans';
    font-weight: bold;
}

.user-skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    text-align: center;
    align-items: center;
}

.user-skills p {
    background: #A2BBFF;
    color: #6C80B1;
    border-radius: 4px;
    margin-left: 10px;
    padding: 2px 7px;
    font-family: 'Work Sans';
}

.add-skills {

}

.user-skills .add-skills  {
    margin-left: 15px;
    background: #fff !important;
    border-radius: 50%;
    padding: 1px 12px;
    font-size: 21px;
    position: relative;
    top: -5px;
    text-decoration: none;
}

.user-plus {
    background: #A2BBFF;
    margin-top: 30px;
    border-radius: 6px;
    padding: 24px;
}

.plus {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
}

.plus img {
    width: 20px;
}

.plus a {
    text-decoration: none !important;
}

.plus span {
    color: #6C80B1;
    margin-left: 10px;
    font-family: 'Work Sans';
    transition: all ease 0.3s;
}

.plus span:hover {
    color: #6C80B1;
    font-weight: bold;
    margin-left: 10px;
    font-family: 'Work Sans';
    transition: all ease 0.3s;
}