.user-content {
    display: flex;
    justify-content: space-between;
}

.profile-content {
    padding: 30px;
}

.profile {
    display: flex !important;
    justify-content: space-between;
}

.work-user .bold {
    color: rgb(53, 52, 52);
    font-size: 16px;
    font-weight: 600;
    float: left;
    width: 160px;
}

.work-user .line {
    color: rgb(145, 145, 145);
    font-size: 16px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Helvetica Neue';
}

.work-user i {
    color: #1ed16f;
    margin-left: 20px;
    font-size: 20px;
}

.experience-info-content .bold {
    color: rgb(145, 145, 145);
    font-size: 16px;
    font-weight: 600;
}

.user-img {
    display: flex;
    align-items: center;
}

.img-profile {
    position: relative;
}

.card {
    border: none !important;
}

.user-name h2{
    margin-top: 10px;
    color: rgb(53, 52, 52);
}

.work-user {
    justify-content: space-between;
}

.user-name span{
    color: rgb(145, 145, 145);
    font-weight: bold;
    font-size: 15px;
    font-family: 'Helvetica Neue';
}

.work-user strong {
    font-size: 20px;
    color: #3369fd;
}

.edit-profile  a img{
    width: 35px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(17, 68, 116, 0.4);
}

h3 {
    color: #3369fd;
    font-weight: 800;
}

.delete-skill{
    background-color: #3369fd !important;
    border-radius: 50%;
    width: 35px !important;
    height: 35px !important;
}
.delete-skill img{
    width: 20px !important;
    margin: 8px;
}

.user-bg {
    width: 100%;
    position: relative;
    background: #3369fd;
    background-size: cover;
    height: 25vh;
}

.img {
    border-radius: 50%;
    width: 160px;
}

.experience-study,.experience-work {
    display: flex;
    align-items: center;
    padding: 10px !important;
}

.content-two {
    overflow-x: hidden;
}

.experience-work a img, .experience-study a img{
    width: 24px;
}

.experience-work span, .experience-study span{
    margin-left: 10px;
    color: #777;
}

div ul.experiences {
    margin-top: 0px !important;
}

.experience {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-info {
    margin: 0px !important;
    display: flex;
    justify-content: space-between;
}

.experience-header  {
    display: flex;
    align-items: center;
}

.experience-header h3 {
    font-size: 32px;
    color: rgb(53, 52, 52);
}

.experience-edit a img {
    background: #3369fd;
    width: 35px;
    border-radius: 50%;
    padding: 10px;
}

.experience-info {
    display: flex;
    justify-content: space-between;
}

.experience-info-skill {
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.experience-info h4 {
    font-size: 20px;
}

.info-experience {
    display: flex;
}

.profile {
    display: block;
    justify-content: space-between;
    align-items: flex-start;
}

.experience-info-content {
    margin-left: 95px;
}

.skill-list {
    list-style: none;
    margin-left: 50px;
    color: rgb(145, 145, 145);
}

.experience-info-content h4 {
    color: rgb(145, 145, 145);
}

.experience-info-content strong {
    color: #3369fd;
}

.time-exp {
    color: rgb(145, 145, 145);
    font-size: 16px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Helvetica Neue';
}

.img-experience  img {
    width: 50px;
}

.education-header {
    display: flex;
    justify-content: space-between;
    color: #777;
}

.education-header a img {
    background: #3369fd;
    width: 35px;
    border-radius: 50%;
    padding: 10px;
}

.education-info {
    color: #777;
    display: flex;
    justify-content: space-between;
}

.info-education {
    display: flex;
}

.img-education a img {
    width: 70px;
}

.aptitud-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #777;
}

.aptitud-header a img {
    background: #3369fd;
    width: 35px;
    border-radius: 50%;
    padding: 10px;
}

.info-aptitud ul li {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 25px;
}