nav {
    position: absolute !important;
    background: transparent !important;
    width: 100%;
    top: 0;
    z-index: 10;
    .container-exlg {
        a {
            color: #fff;
            font-size: 40px;
            transition: 1s;
        }
        a:hover {
            color: #77FAB3;
            transition: 1s;
        }
    }
}

a.signin {
    text-decoration: none !important;
    font-size: 22px !important;
}