.EventCard{
    display: block;
}

.btn-assist{
    color: #fff;
    padding: 10px 15px!important;
    font-size: 14px;
    border-radius: 25px;
    background: #3369fd;
    font-weight: bold;
    border-style: none;
}

.btn-no-assist{
    color: #fff;
    padding: 10px 15px!important;
    font-size: 14px;
    border-radius: 25px;
    background: #dc3545;
    font-weight: bold;
    border-style: none;
}