.Dares{
    display: block;
}

.card-body textarea {
    resize: none !important;
}

.card-body i {
    color: rgba(48, 47, 47, 0.925);
}

img.img-challenge {
    border-radius: 50% !important;
}

.contact-body {
    display: flex;
    justify-content: start;
    align-items: center;
}

.title-body {
    display: flex;
    justify-content: start;
    align-items: center;
}

span.contact {
    color: #2183F8;
    font-weight: 600;
    font-family: 'Proxima Nova';
}

.description-textos {
    width:80%;
    overflow:hidden !important;
    white-space:nowrap !important;
    text-overflow: ellipsis !important;
}

.card-body.challenges:hover {
    transition: 0.5s;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,.14), 0 1px 2px -2px rgba(141, 138, 138, 0.4);
}

.content-challenges {
    padding-left: 15px;
    margin-top: 30px;
}

.content-help {
    display: flex;
    padding: 20px 40px !important;
    font-family: 'Proxima Nova';
    color: #777;
    margin-left: 15px !important;
}

.img-challenges img {
    width: 120px;
}

.info-challenges-help {
    margin-left: 30px;
}

.content-help h4 {
    color: #4C5161 !important;
    font-weight: 600;
}

.card-challenge {
    transition: all ease-in-out 0.5s;
    border: 10px solid #0D4EDC;
}

.card-challenge:hover {
    background: #EEF5FF;
    transition: all ease 0.5s;
    transform: translate3d(0,-3px,0);
}

.card-challenge:hover span.card-title-challenge {
    color: rgb(141, 143, 158);
}

.card-challenge:hover span.contact {
    color: #2183F8;
}

.content-help strong {
    color: #2183F8;
}

.btn-go-challenge {
    margin: 0 auto;
}

.btn-go-challenge button {
    background: #D4E0F6;
    border: none;
    color: #2183F8;
    font-weight: 600;
    font-family: 'Proxima Nova';
    padding: 10px 25px;
    border-radius: 7px;
    outline: none !important;
    transition: 0.2s;
}

.btn-go-challenge button:hover {
    background: #D4E0F6;
    color: #2183F8;
    font-weight: 600;
    transition: 0.2s;
}

span.card-title-challenge {
    color: #6C7478;
}

.work-user-event strong {
    color: #2183F8;
    font-size: 14px !important;
}

@media screen and (max-width: 1024px) {
    .content-challenges {
        padding: 0 20px !important;
    }
    .content-help {
        padding: 0px 20px 40px;
    }
}