
.tags {
    list-style: none;
    justify-content: start;
    padding-left: 0px !important;
    display: flex;
  }
  
  .tag {
    background: #8791F1;
    border-radius: 4px;
    color: white;
    display: inline-block;
    height: 46px;
    line-height: 46px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 10px 15px 0px 0px;
    cursor: default;
  }

  .tag:hover {
    color: #fff;
  }
  
  .adjust-text p{
    width: 100%;
    word-wrap: break-word; 
}