
.tags {
    list-style: none;
    justify-content: start;
    padding-left: 0px !important;
  }
  
  .tag {
    color: #777;
    display: inline-block;
    line-height: 34px;
    position: relative;
    cursor: default;
  }

  .tag:hover {
    color: #fff;
  }
  
  .adjust-text p{
    width: 100%;
    word-wrap: break-word; 
}

strong.title-detail {
  color: #2183F8;
  font-weight: 300;
}