
.tags {
    list-style: none;
    justify-content: start;
    padding-left: 0px !important;
  }
  
  .tag {
    color: #777;
    text-transform: capitalize !important;
    display: inline-block;
    line-height: 34px;
    position: relative;
    cursor: default;
  }

  .tag:hover {
    color: #fff;
  }
  
  .adjust-text p{
    width: 100%;
    word-wrap: break-word; 
}

h3.title-detail {
  margin-left: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

.final-btn {
  display: flex;
  justify-content: flex-end;
}