.AssistButton{
    display: block;
}

button.btn-assist i{
    color: #fff !important;
}

button.btn-no-assist i{
    color: #fff !important;
}

.container-detail button.btn-no-assist i{
    color: #fff;
    background: rgb(245, 122, 151);
    font-size: 20px;
    padding: 15px 17px;
    border-radius: 50%;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(248, 72, 66, 0.7);
}

.container-detail button:focus{
    outline: none ;
}