.AssistButton{
    display: block;
}

button.btn-no-assist {
    color: #fff;
    background: #3CD9A8;
    padding: 7px 10px;
    border-radius: 4px;
    position: relative;
}

.container-detail button:focus{
    outline: none ;
}