@font-face {
  font-family: 'Proxima Nova';
  src: url('./public/font/Proxima\ Nova.ttf');
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.message {
  display: block;
}

.form_group_ input, textarea {
  outline: none;
}

.form_group_ input {
  
}

.form-control {
  padding-left: 7px !important;
  color: #777 !important;
  box-shadow: none !important;
  position: relative;
}

.form-control:focus {
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
}

form input {
  margin: 0px !important;
}

.modal-footer {
  justify-content: flex-end !important;
}

/* .css-6q0nyr-Svg {
  background: #3369fd;
  border-radius: 4px;
} */

.css-6q0nyr-Svg {
  padding: 1px !important;
  margin: 0px;
}

.css-yk16xz-control {
  padding: 0px;
  width: 100%;
  min-height: 40px !important;
}

.css-1hwfws3 {
  font-weight: 400 !important;
  padding: 0px !important;
  margin-left: 4px;
}

.css-2b097c-container { 
  width: 100% !important;
  border-radius: 7px;
  margin: 0 auto;
} 


.modal-footer button {
  padding: 11px 40px!important;
  font-size: 17px;
  border-radius: 25px;
  background: #3369fd;
  font-weight: bold;
}

.modal-footer button:hover {
  background: #3369fd;
}

.modal-content {
  border: none !important;
  outline: none;
  font-family: 'Proxima Nova' !important;
}

.modal-body form {
  padding: 0px 10px !important;
}

.modal-content {
  border-radius: 25px !important;
  background: #EEF1F8;
}

.modal-header {
  border-top-right-radius: 25px !important;
  border-top-left-radius: 25px !important;
}

@media screen and (max-width: 991px) {
  html {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 991px) {
  .nav-open .main-panel{
    left: 0;
    transform: translate3d(260px,0,0);
    transition: all .33s cubic-bezier(.685,.0473,.346,1);
  }
  .nav-open .sidebar {
    transform: translateX(0px);
  }
}
