@font-face {
  font-family: 'Helvetica Neue';
  src: url('./public/font/WorkSans-Regular.ttf');
  src: url('./public/font/HelveticaNeue.ttf');
  src: url('./public/font/HelveticaNeue\ Medium.ttf');
  src: url('./public/font/HelveticaNeue\ BlackCond.ttf');
  src: url('./public/font/HelveticaNeue\ Light.ttf');
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.message {
  display: block;
}

.form_group_ input, textarea {
  outline: none;
}

.form-control {
  border: 1px solid #777 !important;
  color: #777 !important;
  box-shadow: none !important;
}

form input {
  margin: 0 !important;
}

.modal-footer {
  justify-content: center !important;
}

.modal-footer button {
  padding: 8px 40px!important;
  font-size: 17px;
  background: #3369fd;
  font-weight: bold;
}

.modal-footer button:hover {
  background: #3369fd;
}

.modal-content {
  border: none !important;
  outline: none;
  font-family: 'Helvetica Neue' !important;
}

.modal-body form {
  padding: 20px 30px !important;
}

.modal-content {
  background: #EEF1F8;
}

@media screen and (max-width: 991px) {
  html {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 991px) {
  .nav-open .main-panel{
    left: 0;
    transform: translate3d(260px,0,0);
    transition: all .33s cubic-bezier(.685,.0473,.346,1);
  }
  .nav-open .sidebar {
    transform: translateX(0px);
  }
}
