.welcome-ex {
    text-align: center;
    padding: 0px 40px;
    .logo {
        margin-bottom: 10px;
    }
    span.text-forget {
        font-size: 14px !important; 
        text-transform: none !important;
        color: #a09696; 
        font-family: 'Ubuntu' !important; 
    }
}

