.Tree-plus {
  text-align: center;
  padding: 10px;
  background: crimson;
  color: #fff;
  border-radius: 10px;
  margin-top: 140px;
}

.Tree {
  text-align: center;
  padding-top: 150px;
}

@media screen and (max-width: 1440px) {
  .container-tree .Tree {
    padding-top: 70px;
  }
}