.Tree-plus {
  text-align: center;
  padding: 10px;
  background: crimson;
  color: #fff;
  border-radius: 10px;
  margin-top: 140px;
}

.Tree {
  text-align: center;
  padding-top: 150px;
}

@media screen and (max-width: 1440px) {
  .container-tree .Tree {
    padding-top: 70px;
  }
}

@media screen and (max-width: 768px) {
  .Tree {
    padding-top: 10px;
  }
  .Tree img {
    width: 270px;
  }
}

@media screen and (max-width: 420px) {
  .Tree {
    padding-top: 10px;
  }
  .Tree img {
    width: 245px;
  }
}