/* .Challenges{
} */

.challenges {
    position: relative;
}

.container-chellenges {
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -10px #E0E0E0;
    padding: 2px 40px 40px;
    width: 85%;
    font-family: 'Work Sans';
}

.challenge {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(8, 93, 252, 0.4);
    margin-top: 40px;
    border-radius: 6px;
    font-size: 15px;
}
.challenge_complete {
    display: flex;
    background-color: #3369fd;
    opacity: 0.8;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(8, 93, 252, 0.4);
    margin-top: 40px;
    border-radius: 6px;
    font-size: 15px;
}

.challenge p {
    margin: 30px;
    color: #918e8e;
}

.challenge_complete p {
    margin: 30px;
    color: #fff;
}

.challenge span{
    color: #9e9a9a;
    font-size: 15px;
    margin-right: 15px;
    margin-bottom: 6px;
}

.challenge_complete span {
    color: #fff;
    font-size: 15px;
    margin-right: 15px;
    margin-bottom: 6px;
}

@media screen and (max-width: 1440px) {
    .container-chellenges {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1280px) {
    .container-chellenges {
        margin-top: 10px;
    }
}