.Banner{
  display: block;
}
.banner {
  position: relative;
  background: #093CC3;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.banner .container {
  max-width: 1540px;
}

.banner .container .container-banner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .container .container-banner .info-banner {
  margin-top: 250px;
  font-family: 'Work Sans';
}

.banner .container .container-banner .info-banner h3 {
  text-align: left;
  left: 90px;
  color: #F3F300;
  font-size: 60px;
  position: relative;
  line-height: 40px;
}

.banner .container .container-banner .info-banner h2 {
  color: #fff;
  font-weight: 200;
  font-size: 55px;
  line-height: 64px;
  margin-bottom: 40px;
}

.banner .container .container-banner .info-banner h2 span {
  -webkit-text-decoration: line-through #CD5DA3;
          text-decoration: line-through #CD5DA3;
}

.banner .container .container-banner .info-banner .btn-register button.btn-signup {
  padding: 22px 25px;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#FFFF00), to(#cece2f)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #FFFF00 0%, #cece2f 100%) 0% 0% no-repeat padding-box;
  border-radius: 42px;
  border: none;
  color: #777474;
  outline: none;
  font-family: 'Work Sans';
  font-size: 22px;
  -webkit-box-shadow: 0 4px 20px 0 rgba(177, 48, 48, 0.14), 0 7px 10px -5px rgba(40, 189, 77, 0.4);
          box-shadow: 0 4px 20px 0 rgba(177, 48, 48, 0.14), 0 7px 10px -5px rgba(40, 189, 77, 0.4);
}

.banner .container .container-banner .img-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0px;
}

.banner .container .container-banner .img-banner .capsule {
  -webkit-animation: rotate 4s ease-in-out infinite alternate;
          animation: rotate 4s ease-in-out infinite alternate;
  width: 300px;
  height: auto;
}

.items {
  position: relative;
}

.items .item {
  position: absolute;
  z-index: 10;
  -webkit-transform: matrix(0.99, 0.1, -0.1, 0.99, 0, 0);
          transform: matrix(0.99, 0.1, -0.1, 0.99, 0, 0);
}

.square-1 {
  top: 244px;
  left: 1063px;
  z-index: 1;
  display: inline-block;
  -webkit-transform: translate3d(0px, -250px, 80px);
          transform: translate3d(0px, -250px, 80px);
  -webkit-animation: levitate 8s ease-in-out infinite alternate;
          animation: levitate 8s ease-in-out infinite alternate;
}

.square-1:before {
  content: '';
  position: absolute;
  left: 60px;
  top: -8px;
  background: transparent;
  -webkit-box-shadow: 0px 70px 18px 10px rgba(255, 255, 255, 0.4), 0 70px 18px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 70px 18px 10px rgba(255, 255, 255, 0.4), 0 70px 18px 10px rgba(255, 255, 255, 0.1);
  -webkit-transform: matrix(0.99, 0.1, -0.1, 0.89, 10, 10);
          transform: matrix(0.99, 0.1, -0.1, 0.89, 10, 10);
}

.rectangle-1 {
  top: 462px;
  left: 1209px;
  z-index: 1;
  display: inline-block;
  -webkit-transform: translate3d(0px, 150px, 10px);
          transform: translate3d(0px, 150px, 10px);
  -webkit-animation: levitate 8s ease-in-out infinite alternate;
          animation: levitate 8s ease-in-out infinite alternate;
}

.rectangle-1:before {
  content: '';
  position: absolute;
  left: 50px;
  top: -14px;
  background: transparent;
  -webkit-box-shadow: 0px 70px 18px 10px rgba(255, 255, 255, 0.4), 0 70px 18px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 70px 18px 10px rgba(255, 255, 255, 0.4), 0 70px 18px 10px rgba(255, 255, 255, 0.1);
  -webkit-transform: matrix(0.99, 0.1, -0.1, 0.89, 10, 10);
          transform: matrix(0.99, 0.1, -0.1, 0.89, 10, 10);
}

.circle-1 {
  top: 433px;
  left: 1079px;
  width: 53px;
  height: 53px;
  z-index: 1;
  display: inline-block;
  -webkit-transform: translate3d(0px, 350px, 10px);
          transform: translate3d(0px, 350px, 10px);
  -webkit-animation: levitate 8s ease-in-out infinite alternate;
          animation: levitate 8s ease-in-out infinite alternate;
}

.circle-1:before {
  content: '';
  position: absolute;
  left: 50px;
  top: -14px;
  background: transparent;
  -webkit-box-shadow: 0px 70px 18px 10px rgba(255, 255, 255, 0.4), 0 70px 18px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 70px 18px 10px rgba(255, 255, 255, 0.4), 0 70px 18px 10px rgba(255, 255, 255, 0.1);
  -webkit-transform: matrix(0.99, 0.1, -0.1, 0.89, 10, 10);
          transform: matrix(0.99, 0.1, -0.1, 0.89, 10, 10);
}

.square-2 {
  top: 307px;
  left: 683px;
  width: 13px !important;
  height: 13px !important;
  z-index: 1;
  display: inline-block;
  -webkit-transform: translate3d(0px, -150px, -80px);
          transform: translate3d(0px, -150px, -80px);
  -webkit-animation: levitate 8s ease-in-out infinite alternate;
          animation: levitate 8s ease-in-out infinite alternate;
}

.square-2:before {
  content: '';
  position: absolute;
  left: 40px;
  top: -30px;
  background: transparent;
  -webkit-box-shadow: 0px 70px 18px 10px rgba(255, 255, 255, 0.4), 0 70px 18px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 70px 18px 10px rgba(255, 255, 255, 0.4), 0 70px 18px 10px rgba(255, 255, 255, 0.1);
  -webkit-transform: matrix(0.99, 0.1, -0.1, 0.89, 10, 10);
          transform: matrix(0.99, 0.1, -0.1, 0.89, 10, 10);
}

.rectangle-2 {
  top: 389px;
  left: 619px;
  width: 53px;
  height: 53px;
  z-index: 1;
  display: inline-block;
  -webkit-transform: translate3d(0px, -200px, 10px);
          transform: translate3d(0px, -200px, 10px);
  -webkit-animation: levitate 8s ease-in-out infinite alternate;
          animation: levitate 8s ease-in-out infinite alternate;
}

.rectangle-2:before {
  content: '';
  position: absolute;
  left: 40px;
  top: -30px;
  background: transparent;
  -webkit-box-shadow: 0px 70px 18px 10px rgba(255, 255, 255, 0.4), 0 70px 18px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 70px 18px 10px rgba(255, 255, 255, 0.4), 0 70px 18px 10px rgba(255, 255, 255, 0.1);
  -webkit-transform: matrix(0.99, 0.1, -0.1, 0.89, 10, 10);
          transform: matrix(0.99, 0.1, -0.1, 0.89, 10, 10);
}

.circle-2 {
  top: 551px;
  left: 662px;
  width: 53px;
  height: 53px;
  z-index: 1;
  display: inline-block;
  -webkit-transform: translate3d(0px, -50px, 10px);
          transform: translate3d(0px, -50px, 10px);
  -webkit-animation: levitate 8s ease-in-out infinite alternate;
          animation: levitate 8s ease-in-out infinite alternate;
}

.circle-2:before {
  content: '';
  position: absolute;
  left: 40px;
  top: -30px;
  background: transparent;
  -webkit-box-shadow: 0px 70px 18px 10px rgba(255, 255, 255, 0.4), 0 70px 18px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 70px 18px 10px rgba(255, 255, 255, 0.4), 0 70px 18px 10px rgba(255, 255, 255, 0.1);
  -webkit-transform: matrix(0.99, 0.1, -0.1, 0.89, 10, 10);
          transform: matrix(0.99, 0.1, -0.1, 0.89, 10, 10);
}

.square-3 {
  top: 636px;
  left: 1106px;
  width: 13px !important;
  height: 13px !important;
  z-index: 1;
  display: inline-block;
  -webkit-transform: translate3d(0px, -150px, 80px);
          transform: translate3d(0px, -150px, 80px);
  -webkit-animation: levitate 8s ease-in-out infinite alternate;
          animation: levitate 8s ease-in-out infinite alternate;
}

.square-3:before {
  content: '';
  position: absolute;
  left: 40px;
  top: -30px;
  background: transparent;
  -webkit-box-shadow: 0px 70px 18px 10px rgba(255, 255, 255, 0.4), 0 70px 18px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 70px 18px 10px rgba(255, 255, 255, 0.4), 0 70px 18px 10px rgba(255, 255, 255, 0.1);
  -webkit-transform: matrix(0.99, 0.1, -0.1, 0.89, 10, 10);
          transform: matrix(0.99, 0.1, -0.1, 0.89, 10, 10);
}

.rectangle-3 {
  top: 631px;
  left: 54px;
  width: 53px;
  height: 53px;
  z-index: 1;
  display: inline-block;
  -webkit-transform: translate3d(0px, -200px, 10px);
          transform: translate3d(0px, -200px, 10px);
  -webkit-animation: levitate 8s ease-in-out infinite alternate;
          animation: levitate 8s ease-in-out infinite alternate;
}

.rectangle-3:before {
  content: '';
  position: absolute;
  left: 40px;
  top: -30px;
  background: transparent;
  -webkit-box-shadow: 0px 70px 18px 10px rgba(255, 255, 255, 0.4), 0 70px 18px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 70px 18px 10px rgba(255, 255, 255, 0.4), 0 70px 18px 10px rgba(255, 255, 255, 0.1);
  -webkit-transform: matrix(0.99, 0.1, -0.1, 0.89, 10, 10);
          transform: matrix(0.99, 0.1, -0.1, 0.89, 10, 10);
}

.circle-3 {
  top: 216px;
  left: 160px;
  width: 53px;
  height: 53px;
  z-index: 1;
  display: inline-block;
  -webkit-transform: translate3d(0px, -50px, 100px);
          transform: translate3d(0px, -50px, 100px);
  -webkit-animation: levitate 4s ease-in-out infinite alternate;
          animation: levitate 4s ease-in-out infinite alternate;
}

.circle-3:before {
  content: '';
  position: absolute;
  left: 40px;
  top: -30px;
  background: transparent;
  -webkit-box-shadow: 0px 70px 18px 10px rgba(255, 255, 255, 0.4), 0 70px 18px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 70px 18px 10px rgba(255, 255, 255, 0.4), 0 70px 18px 10px rgba(255, 255, 255, 0.1);
  -webkit-transform: matrix(0.99, 0.1, -0.1, 0.89, 10, 10);
          transform: matrix(0.99, 0.1, -0.1, 0.89, 10, 10);
}

.cel {
  display: none;
}

@-webkit-keyframes levitate {
  0% {
    -webkit-transform: translate3d(0, 10%, 10) rotateX(368deg);
            transform: translate3d(0, 10%, 10) rotateX(368deg);
  }
  100% {
    -webkit-transform: translate3d(0, -42%, 0);
            transform: translate3d(0, -42%, 0);
  }
}

@keyframes levitate {
  0% {
    -webkit-transform: translate3d(0, 10%, 10) rotateX(368deg);
            transform: translate3d(0, 10%, 10) rotateX(368deg);
  }
  100% {
    -webkit-transform: translate3d(0, -42%, 0);
            transform: translate3d(0, -42%, 0);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate3d(0, 10%, 10) rotateX(368deg);
            transform: translate3d(0, 10%, 10) rotateX(368deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate3d(0, 10%, 10) rotateX(368deg);
            transform: translate3d(0, 10%, 10) rotateX(368deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
}

@media screen and (max-width: 1280px) {
  .square-1 {
    left: 529px;
    top: 100px;
  }
  .square-3 {
    display: none;
  }
  .rectangle-1 {
    left: 929px;
  }
  .circle-1 {
    left: 987px;
  }
  .img-banner {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    width: 500px !important;
  }
  .info-banner h3 {
    font-size: 55px !important;
    left: 80px !important;
  }
  .info-banner h2 {
    font-size: 50px !important;
  }
  .info-banner .btn-register button.btn-signup {
    padding: 15px 25px !important;
    font-size: 20px !important;
  }
}

@media screen and (max-width: 1024px) {
  .circle-1 {
    left: 587px;
  }
  .rectangle-1 {
    left: 229px;
  }
}

@media screen and (max-width: 768px) {
  .square-3, .square-2, .rectangle-2, .circle-2 {
    display: none;
  }
  .square-1 {
    left: 440px;
    top: 300px;
  }
  .rectangle-3 {
    top: 150px;
  }
  .rectangle-1 {
    left: 100px;
  }
  .circle-1 {
    top: 160px;
    left: 500px;
  }
  .circle-3 {
    left: 190px;
  }
  .container-banner {
    padding-top: 100px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .img-banner {
    right: 0px !important;
    max-width: 100% !important;
  }
  .capsule {
    width: 220px !important;
  }
  .navbar-brand img {
    width: 85px;
  }
  .info-banner {
    text-align: center;
    right: 0px !important;
    margin-top: 20px !important;
  }
  .info-banner .text-info h3 {
    display: none;
    width: 140px;
    font-size: 40px !important;
  }
  .info-banner .text-info h2 {
    line-height: 35px !important;
    font-size: 35px !important;
  }
  .info-banner .btn-register {
    margin: 0 auto !important;
  }
  .info-banner .btn-register button.btn-signup {
    padding: 13px 70px !important;
    font-size: 18px !important;
  }
  .celplus {
    display: none;
  }
  .cel {
    display: block !important;
  }
  .cel span {
    color: #F3F300;
    text-decoration: none !important;
  }
}

@media screen and (max-width: 576px) {
  .capsule {
    width: 120px !important;
  }
  .rectangle-1 {
    top: 240px;
    left: 220px;
  }
  .rectangle-3 {
    top: 280px;
    left: 50px;
  }
  .circle-1 {
    top: 120px;
    left: 230px;
  }
  .circle-3 {
    top: 320px;
    left: 250px;
  }
  .square-1 {
    top: 100px;
    left: 10px;
  }
  .modal-dialog {
    margin-top: 45px !important;
  }
  form {
    padding: 30px 30px 0px 30px;
  }
  form input {
    padding: 15px;
    border-radius: 17px;
  }
  .submit-signup {
    padding: 15px !important;
    border-radius: 17px !important;
  }
}
/*# sourceMappingURL=style.css.map */